@mixin logo($file, $size) {
	display: block;
	background: url($file);
	background-repeat:no-repeat;
	background-size:$size;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height:50px;
	width:100px;
	margin:10px auto;
}